<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="debug.log" layout="${longdate}|${level:uppercase=true}|${logger}| ${message}"/>
    <target name="logconsole" xsi:type="Console" layout="${time} [${level:uppercase=true}]: ${message}" />
  </targets>
  
  <variable name='myLevel' value='Info'/>
  <rules>
    <logger name="*" minlevel="${var:myLevel}" writeTo="logconsole" />
    <logger name="*" minlevel="${var:myLevel}" writeTo="logfile" />
  </rules>
</nlog>